.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  position: fixed;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  position: fixed;
  top: 20%;
  left: 25%;
  right: 25%;
  height: 480px;
}
.float {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  background-color: #0d6efd8f;
  z-index: 99;
  height: -webkit-fill-available;
  opacity: 100%;
}
 
form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  position: fixed;
  top: 20%;
  left: 25%;
  right: 25%;
  height: 480px;
  padding: 1rem;
  background-color: lightgray;
}
 
 
.g2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2px 0 2px 0;
  height: 2px;
  margin: 4px 0 2px 0;
}
